#phone{
  height: 740px;
  width: 360px;
  background-color: #333333;
  color: white;
  margin: 10px 60px;
}
#moveRight{
  padding-left:10px;

}
header{background-color: gray;height: 25px;padding-left: 5px}
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}



.button,.buttonsec,.buttonmain,.button2{
  width: 150px;
  height: 100px;
  padding: 5px 15px;
  margin: 30px 14px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active,.buttonmain:active,.buttonsec:active,.button2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#hang:hover,#hang:active,#hang2:hover,#hang2:active{background-color: darkred}
#hang,#hang2{background-color: red}
#accept{background-color: green;height: 50px;width: 150px;}
#accept:active,#accept:hover{background-color: darkgreen}

#mute,#vid,#part,#rec,#share,#only,#call,#living,#sCall,#add,#addContact,#setB,.button2,#send,#send2{background-color: darkgray}
#mute:hover,#vid:hover,#part:hover,#rec:hover,#share:hover,#only:hover,#call:hover,#living:hover,#sCall:hover,#add:hover,#addContact:hover,#setB:hover,.button2:hover,#send:hover,#send2:hover{background-color: #666666}


#only,#hang2{height: 50px;width: 200px;margin: 30px 75px}
#call,#living,#sCall{height: 50px;width: 150px;font-size: 20px;margin: 30px 14px}
#only,#call,#living{margin-bottom: 25px}
.button2{height: 80px;width: 120px; border-radius: 50px;margin: 13px}

#addContact,#add,#setB{
  width: 83px;
  height: 30px;
  float: right;
  margin-right: 10px;
  color: black;
  font-size: 10px;
  box-shadow: 0 3px #999;
  margin-top: 0;
}
#setB{margin:10px 0}

#send,#send2{
  box-shadow: 0 6px #999;
  width: 50px;
  height: 40px;
  margin: 0 5px 0 0;
}
#send:active,#send2:active{
  box-shadow: 0 4px #666;
}

#type,#type2 {
  background-color: #666666;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 30px 5px;
  font-size: 20px;
}







#participants{
  background-color: #333333;
  color: white;

}

.chatIconRight {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.topLine {
  background-color: darkslategray;
  padding: 10px;
  height: 70px;
}
.profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid green;
  float: left;
  margin-right: 10px;
}
#settings{
  float: right;
  margin-top: 5px;

}
.name{
  float: left;
  margin-top: 10px;
  color: white;
  font-size: 20px;

}

.personSingle {
  padding: 0 20px;
  height: 40px;
  font-size: 20px;
}

.profilePic {
  float: left;
  margin-right: 8px;
}

.nameParticipant {
  float: left;
  margin-top: 5px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}



input,select{background-color: rgba(88,88,88,0.7);
  color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 40px;
}
select{margin-left: 80px;width: 250px;margin-top: 25px}
#date,#username,#pwd{margin-left: 15px;margin-bottom: 0}
#mail2{margin-left: 10px;margin-bottom: 0;height: 20px}


.edit{
  height: 20px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
p{
  border: 2px solid black;
  background-color: #666666;
  border-radius: 5px;
  padding: 10px;
  margin: 10px
  5px;
}

