#phone{
  height: 740px;
  width: 360px;
  background-color: #333333;
  color: white;
  margin: 10px;

}
header{background-color: gray;height: 25px;padding-left: 5px;margin-bottom: 10px}



.button,.buttonsec,.buttonmain {
  width: 150px;
  height: 100px;
  padding: 5px 15px;
  margin: 30px 14px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active,.buttonmain:active,.buttonsec:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#hang:hover,#hang:active{background-color: darkred}
#hang{background-color: red}

#mute,#vid,#part,#rec,#share,#only,#call,#living{background-color: darkgray}
#mute:hover,#vid:hover,#part:hover,#rec:hover,#share:hover,#only:hover,#call:hover,#living:hover,#mute:active,#vid:active,#part:active,#rec:active,#share:active,#only:active,#call:active,#living:active{background-color: #666666}

#only{height: 50px;width: 200px;margin: 30px 75px}
#call,#living{height: 50px;width: 150px;font-size: 20px;margin: 30px 14px}
#only,#call,#living{margin-bottom: 25px}

#type {
  background-color: #666666;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 30px 5px;
  font-size: 20px;
}






#participants{
  background-color: #333333;
  color: white;

}

.chatIconRight {
  position: relative;
  right: 0;
}

.topLine {
  background-color: lightgrey;
  border: 5px solid black;
  padding: 10px;
  height: 30px;
}
.profile{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid green;
  float: left;
  margin-right: 10px;
}
#settings{
  float: right;
  margin-top: 5px;

}
.name{
  float: left;
  margin-top: 7px;
  color: black;
}


