#tv{
  height: 810px;
  width:1440px;
  background-color: #333333
}
header{background-color: gray}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.twoParticipantsB{
  height:810px;
}

#oneParticipantB{
  height: 780px;
  width: 1440px;
}

#sixParticipants{
  height: 200px;
}

.flex-container > div {
  background-color: #f1f1f1;
  height: 385px;
  width: 710px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*#oneParticipant{*/
/*  display: none;*/
/*}*/

/*#twoParticipants{*/
/*  display: none;*/
/*}*/

/*#fourParticipants{*/
/*  display: none;*/
/*}*/

/*#sixParticipants{*/
/*  display: none;*/
/*}*/
