#wall{
  height: 345px;
  width: 1440px;
  background-color: #333333;
  /*background-color: white;*/
}
div{color: black;}
header{background-color: gray}

p{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px
  5px;
}

